/* universal css selector */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Task 1 page layout */
.container{
    width: 70%;
    height: 50vh;
    margin: 30px auto;
}

.header{
    border: 2px solid black;
    height: 20%;
    margin-bottom: 8px;
}

.main{
    height: 90%;
    border: 2px solid black;
    margin-bottom: 4px;
}

.aside{
    height: 100%;
    width: 20%;
    border-right: 2px solid black;
    float: left;
}

.content{
    height: 100%;
    width: 80%;
    padding: 4px 10px;
    float: right;
}

.section{
    height: 20%;
    border: 2px solid black;
}

.article{
    height: 80%;
    padding: 4px 0px;
}

.left{
    /* move article to left */
    float: left;
    border: 2px solid black;
    width: 49%;
    height: 100%;
    margin-right: 4px;
}

.right{
    /* move article to right */
    float: right;
    border: 2px solid black;
    width: 49%;
    height: 100%;
}

.footer{
    height: 10%;
    border: 2px solid black;
}