/* 1. Types Of CSS */
i{
    font-size: 60px;
}

/* 2. Class Id */

#first_para{
    color: blue;
    font-weight: bold;
    font-size: 300%;
}

.sec_para{
    color: green;
    font-size: 24px;
}

.double_class{
    font-weight: bold;
}

h3, h4, h5{
    font-size: large;
    font-weight: bold;
    text-align: center;
    color: red;
}

/*  */